* {
    padding: 0px;
    margin: 0px;
}

table {
    border: 1px solid black;
    margin: 5px;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

caption {
    border: 1px solid black;
    border-bottom: none;
}

tr {
    background: #ececec;
}

td {
    padding: 5px;
    text-align: center;
}

.weekdays {
    background: #ececec;
}

.output {
    background: #ffbdbd;
}

.weekdays.rab {
    background: #a9b0ff;
}

.output.rab {
    background: #7980cc;
}

.praz {
    background: #000000;
    color: #fff;
    font-size: 18px;
    font-family: Arial;
}

.dop-1 {
    background: #48aaaf;
    color: #fff;
}

.dop-2 {
    background: #af48a2;
    color: #fff;
}

.none-block {
    display: none;
}
