* {
    padding: 0px;
    margin: 0px;
}

table {
    border: 1px solid black;
    margin: 5px;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

caption {
    border: 1px solid black;
    border-bottom: none;
    caption-side: inherit;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-size: 18px;
}

tr {
    background: #ececec;
}

td {
    padding: 5px;
    text-align: center;
}

.weekdays {
    background: #ececec;
}

.output {
    background: #ffbdbd;
}

.weekdays.rab {
    background: #a9b0ff;
}

.output.rab {
    background: #7980cc;
}

.praz {
    background: #000000;
    color: #fff;
    font-size: 18px;
    font-family: Arial;
}

.dop-1 {
    background: #48aaaf;
    color: #fff;
}

.dop-2 {
    background: #af48a2;
    color: #fff;
}

.weekdays.Today,
.output.Today
.weekdays.rab.Today,
.output.rab.Today {
    background: #54c14d;
    color: #fff;
}

.none-block {
    display: none;
}

#Windows > .card.windows {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 0px;
    border: none;
    border-top: 2px solid black;
}

#Windows > .card.windows.error {
    background: #e07373;
    color: #fff;
    font-size: 16px;
}
