* {
    padding: 0px;
    margin: 0px;
}

table {
    border: 1px solid black;
    margin: 5px;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

caption {
    border: 1px solid black;
    border-bottom: none;
}

tr {
    background: #ececec;
}

td {
    padding: 5px;
    text-align: center;
}

.weekdays {
    background: #ececec;
}

.output {
    background: #e0e0e0;
}

.weekdays.rab {
    background: #b5b5b5;
}

.output.rab {
    background: #b5b5b5;
}

.praz {
    background: #000000;
    color: #fff;
    font-size: 18px;
    font-family: Arial;
}

.dop-1 {
    background: #484848;
    color: #fff;
}

.dop-2 {
    background: #484848;
    color: #fff;
}

.none-block {
    display: none;
}
